body {
  margin: 0;
  background-color: black;
}

/*
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
standardize image sizes
get a good font
set the right font size
adjust the layout a little (so things breathe)
make sizes %s?
*/

#scene {
  display: flex;
  width: 800px;
  margin: 0 auto;
}
#poem {
  width: 200px;
  color: white;
}
#icon {
  width: 400px;
}
#spec{
  color: white;
}

/* https://stackoverflow.com/questions/23856088/infinite-flip-image-using-css3-3d */
#icon > img {
  width: 100%;
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}
/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to
  {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
